main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
main section{
	border: solid black 2px ;
	padding: 10px;
	margin: 15px;
	width: 34%;
	display: flex; /* Ajoutez display: flex; ici */
  	align-items: center; /* Centrez verticalement l'image et le texte */
}
main>section>div{
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
	height: auto;
	width: auto;
	max-width: 55%;
	position: static;
	display: inline-block;
}
main section img{
	position: static;
    margin-right: 5%;
	float: left;
	border-radius: 6%;
	width: 50%;
	height: auto;
	max-width: 250px;
}
main section div p{
	font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 90%;
	font-weight: 500;
	width: 100%;
}	
