h3 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 300%;
  letter-spacing: 2px;
}

main section {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  position: relative;
}

main section img {
  display: inline-block;
  width: 27%;
  height: auto;
  object-fit: cover;
  text-align: left;
  left: -10%;
  margin: 0.5%;
  border-radius: 8%;
  margin-right: 20px;
}
main section>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid black 2px;
  padding: 1.5%;
  width: 55%;
}


main section div div{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  top: 0%;
  width: auto;
}
main section div div:nth-of-type(1){
  width: 20%;
}
main section div div:nth-of-type(2){
  width: 30%;
}

main section>div>div>p,
main section div div ul li {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
.titre {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: larger;
  margin: 0%;
}